{% extends "admin_panel_app/base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}

    <h3 class="text-center">User Details</h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone_number }}</td>
            </tr>
            <tr>
                <th>Last Login</th>
                <td>{{ user.last_login }}</td>
            </tr>
            <tr>
                <th>Date Joined</th>
                <td>{{ user.date_joined }}</td>
            </tr>
            <tr>
                <th>Is Admin</th>
                <td>{{ user.is_admin }}</td>
            </tr>

        </tbody>
    </table>

    <div class="mb-3 mt-3">
        <a class="btn btn-red btn-sm" href="{% url 'admin_user_list_index' %}">Back</a>
    </div>

{% endblock content %}
