{% extends "admin_panel_app/base.html" %}

{% block title %}Announcement View History Details{% endblock %}

{% block content %}

    <h3 class="text-center">Announcement View History Details</h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ announcement_view_history.id }}</td>
            </tr>
            <tr>
                <th>Announcement ID</th>
                <td>{{ announcement_view_history.announcement_id }}</td>
            </tr>
            <tr>
                <th>User ID</th>
                <td>{{ announcement_view_history.user_id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ announcement_view_history.date }}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-3 mt-3">
        <a class="btn btn-red btn-sm" href="{% url 'admin_announcement_view_histories_list' %}">Back</a>
    </div>

{% endblock content %}
