{% extends "admin_panel_app/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Admin Home Page' %}{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'admin_panel_app:admin_index' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Dashboard' %}</a>
                    <a href="{% url 'admin_panel_app:admin_user_list_index' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Users' %}</a>
                    <a href="{% url 'admin_panel_app:admin_announcement_images_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Announcement Images' %}</a>
                    <a href="{% url 'admin_panel_app:admin_announcement_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Announcements' %}</a>
                    <a href="{% url 'admin_panel_app:admin_categories_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Categories' %}</a>
                    <a href="{% url 'admin_panel_app:admin_favorites_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Favorites' %}</a>
                    <a href="{% url 'admin_panel_app:admin_news_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'News' %}</a>
                    <a href="{% url 'admin_panel_app:admin_announcement_view_histories_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Ann View History' %}</a>
                    <a href="{% url 'admin_panel_app:admin_comments_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Comments' %}</a>
                    <a href="{% url 'admin_panel_app:admin_chats_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Chats' %}</a>
                    <a href="{% url 'admin_panel_app:admin_messages_list' %}" class="list-group-item list-group-item-action text-decoration-none w-text-75  bg-orange-list stretched-link">{% trans 'Messages' %}</a>
                    <a href="{% url 'find_house_app:home' %}" class="list-group-item list-group-item-action text-decoration-none text-danger bg-orange-list stretched-link">{% trans 'Back' %}</a>
                </div>
            </div>

            <!-- Dashboard Content -->
            <div class="col-md-9">
                <h3 class="mb-4">{% trans 'Admin Dashboard' %}</h1>

                <!-- Stats Cards -->
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card text-white bg-blue bg-opacity-75 ">
                            <div class="card-body">
                                <div class="card-title">{% trans 'Total Users' %}</div>
                                <h2 class="card-text">{{ users_count }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-white bg-green bg-opacity-75 ">
                            <div class="card-body">
                                <div class="card-title">{% trans 'Total Announcements' %}</div>
                                <h2 class="card-text">{{ announcements_count }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-white bg-orange bg-opacity-75 ">
                            <div class="card-body">
                                <div class="card-title">{% trans 'Total News' %}</div>
                                <h2 class="card-text">{{ news_count }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-white bg-red bg-opacity-75 ">
                            <div class="card-body">
                                <div class="card-title">{% trans 'Total Comments' %}</div>
                                <h2 class="card-text">{{ comments_count }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-white bg-purple bg-opacity-75 ">
                            <div class="card-body">
                                <div class="card-title">{% trans 'Total Chats' %}</div>
                                <h2 class="card-text">{{ chats_count }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card text-white bg-grey bg-opacity-75 ">
                            <div class="card-body">
                                <div class="card-title">{% trans 'Total Messages' %}</div>
                                <h2 class="card-text">{{ messages_count }}</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}