{% extends "admin_panel_app/base.html" %}

{% load static %}

{% block title %}News List{% endblock %}

{% block content %}

    <h3 class="text-center">News List</h3>
    <div class="mb-3">
        <input type="text" id="newsFilterInput" class="custom-form-control" placeholder="Enter filter...">
    </div>
    {% if news %}
        <div class="table-responsive">
            <table class="table table-hover " data-table="news">
                <thead>
                    <tr>
                        <th class="text-nowrap">ID</th>
                        <th class="text-nowrap">Title</th>
                        <th class="text-nowrap">Content</th>
                        <th class="text-nowrap">Views Count</th>
                        <th class="text-nowrap">Date Added</th>
                        <th class="text-nowrap">Edit</th>
                        <th class="text-nowrap">Details</th>
                        <th class="text-nowrap">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for news_item in news %}
                        <tr>
                            <td>{{ news_item.id }}</td>
                            <td>{{ news_item.title }}</td>
                            <td>{{ news_item.content|truncatechars:100 }}</td>
                            <td>{{ news_item.views_count }}</td>
                            <td>{{ news_item.date_added }}</td>
                            <td>
                                <a href="{% url 'admin_news_update' pk=news_item.pk %}" class="btn btn-blue btn-sm w-text-75 d-flex align-items-center text-decoration-none">
                                    <img width="20px" height="20px" src="{% static 'users_app/images/icons/profile/edit.svg' %}" alt="Edit" class="mr-1">Edit
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'admin_news_read' pk=news_item.pk %}" class="btn btn-grey btn-sm w-text-75 d-flex align-items-center text-decoration-none">
                                    <img width="20px" height="20px" src="{% static 'users_app/images/icons/profile/details.svg' %}" alt="Edit" class="mr-1">Details
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'admin_news_delete' pk=news_item.pk %}" class="btn btn-red btn-sm w-text-75 d-flex align-items-center text-decoration-none">
                                    <img width="20px" height="20px" src="{% static 'users_app/images/icons/profile/delete.svg' %}" alt="Edit" class="mr-1">Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 class="text-center text-danger">You do not have any categories !!!</h3>
    {% endif %}

    <div class="mb-3">
        <a class="btn btn-orange btn-sm" href="{% url 'admin_news_create' %}">Add News</a>
    </div>

    <script src="{% static 'admin_panel_app/js/news_tables_search.js' %}"></script>
    <script src="{% static 'admin_panel_app/js/table_scroll_script.js' %}"></script>

{% endblock content %}
