{% extends "admin_panel_app/base.html" %}

{% block title %}News Details{% endblock %}

{% block content %}

    <h3 class="text-center">News Details</h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ news_item.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news_item.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ news_item.content }}</td>
            </tr>
            <tr>
                <th>Views_Count</th>
                <td>{{ news_item.views_count }}</td>
            </tr>
            <tr>
                <th>Date Added</th>
                <td>{{ news_item.date_added }}</td>
            </tr>

        </tbody>
    </table>

    <div class="mb-3 mt-3">
        <a class="btn btn-red btn-sm" href="{% url 'admin_panel_app:admin_news_list' %}">Back</a>
    </div>

{% endblock content %}
