{% extends "admin_panel_app/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Edit Content' %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    {{ field.errors.0 }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}

        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header bg-blue text-white">
                    <h3 class="card-title mb-0">{% trans 'Edit Content' %}</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form.contacts_page_h5.label_tag }}
                            {{ form.contacts_page_h5 }}
                            <span class="text-muted"><small>{{ form.contacts_page_h5.help_text }}</small></span>
                        </div>
            
                        <div class="mb-3">
                            {{ form.contacts_page_text.label_tag }}
                            {{ form.contacts_page_text }}
                            <span class="text-muted"><small>{{ form.contacts_page_text.help_text }}</small></span>
                        </div>

                        <div class="mb-3">
                            {{ form.contacts_page_address.label_tag }}
                            {{ form.contacts_page_address }}
                            <span class="text-muted"><small>{{ form.contacts_page_address.help_text }}</small></span>
                        </div>

                        <div class="mb-3">
                            {{ form.contacts_page_telephone.label_tag }}
                            {{ form.contacts_page_telephone }}
                            <span class="text-muted"><small>{{ form.contacts_page_telephone.help_text }}</small></span>
                        </div>
                        
                        <div class="mb-3">
                            {{ form.contacts_page_email.label_tag }}
                            {{ form.contacts_page_email }}
                            <span class="text-muted"><small>{{ form.contacts_page_email.help_text }}</small></span>
                        </div>

                        <div class="mb-3">
                            {{ form.footer_text.label_tag }}
                            {{ form.footer_text }}
                            <span class="text-muted"><small>{{ form.footer_text.help_text }}</small></span>
                        </div>
            
                        <div class="mb-3">
                            <button type="submit" class="btn btn-blue btn-sm">{% trans 'Edit Content' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    {% else %}
        <h3 class="text-center text-danger">{% trans 'You do not have access to this page !!!' %}</h1>
    {% endif %}

    <div class="mb-3 mt-3">
        <a class="btn btn-red btn-sm" href="{% url 'admin_panel_app:admin_content_list' %}">{% trans 'Back' %}</a>
    </div>

{% endblock content %}