{% extends "admin_panel_app/base.html" %}

{% block title %}Comments Details{% endblock %}

{% block content %}

    <h3 class="text-center">Comments Details</h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Date Added</th>
                <td>{{ comment.date_added }}</td>
            </tr>
            <tr>
                <th>Announcement ID</th>
                <td>{{ comment.announcement_id }}</td>
            </tr>
            <tr>
                <th>User ID</th>
                <td>{{ comment.user_id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ comment.text }}</td>
            </tr>

        </tbody>
    </table>

    <div class="mb-3 mt-3">
        <a class="btn btn-red btn-sm" href="{% url 'admin_comments_list' %}">Back</a>
    </div>

{% endblock content %}
