{% extends "admin_panel_app/base.html" %}

{% load static %}

{% block title %}Favorites List{% endblock %}

{% block content %}

    <h3 class="text-center">Favorites List</h3>
    <div class="mb-3">
        <input type="text" id="favoritesFilterInput" class="custom-form-control" placeholder="Enter filter...">
    </div>
    {% if favorites %}
        <div class="table-responsive">
            <table class="table table-hover " data-table="favorites">
                <thead>
                    <tr>
                        <th class="text-nowrap">ID</th>
                        <th class="text-nowrap">Announcement ID</th>
                        <th class="text-nowrap">User ID</th>
                        <th class="text-nowrap">Is In Favorite</th>
                        <th class="text-nowrap">Date Added</th>
                        <th class="text-nowrap">Edit</th>
                        <th class="text-nowrap">Details</th>
                        <th class="text-nowrap">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favorite in favorites %}
                        <tr>
                            <td>{{ favorite.id }}</td>
                            <td>{{ favorite.announcement_id }}</td>
                            <td>{{ favorite.user_id }}</td>
                            <td>{{ favorite.is_in_favorite }}</td>
                            <td>{{ favorite.date_added }}</td>
                            <td>
                                <a href="{% url 'admin_panel_app:admin_favorite_update' pk=favorite.pk %}" class="btn btn-blue btn-sm w-text-75 d-flex align-items-center text-decoration-none">
                                    <img width="20px" height="20px" src="{% static 'users_app/images/icons/profile/edit.svg' %}" alt="Edit" class="mr-1">Edit
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'admin_panel_app:admin_favorite_read' pk=favorite.pk %}" class="btn btn-grey btn-sm w-text-75 d-flex align-items-center text-decoration-none">
                                    <img width="20px" height="20px" src="{% static 'users_app/images/icons/profile/details.svg' %}" alt="Edit" class="mr-1">Details
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'admin_panel_app:admin_favorite_delete' pk=favorite.pk %}" class="btn btn-red btn-sm w-text-75 d-flex align-items-center text-decoration-none">
                                    <img width="20px" height="20px" src="{% static 'users_app/images/icons/profile/delete.svg' %}" alt="Edit" class="mr-1">Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 class="text-center text-danger">You do not have any favorites !!!</h3>
    {% endif %}
    <div class="mb-3">
        <a class="btn btn-orange btn-sm" href="{% url 'admin_panel_app:admin_favorite_create' %}">Add Favorite</a>
    </div>

    <script src="{% static 'admin_panel_app/js/favorites_tables_search.js' %}"></script>
    <script src="{% static 'admin_panel_app/js/table_scroll_script.js' %}"></script>

{% endblock content %}
