{% extends "admin_panel_app/base.html" %}

{% block title %}Favorite Details{% endblock %}

{% block content %}

    <h3 class="text-center">Favorite Details</h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ favorite.id }}</td>
            </tr>
            <tr>
                <th>Announcement ID</th>
                <td>{{ favorite.announcement_id }}</td>
            </tr>
            <tr>
                <th>User ID</th>
                <td>{{ favorite.user_id }}</td>
            </tr>
            <tr>
                <th>Is In Favorite</th>
                <td>{{ favorite.is_in_favorite }}</td>
            </tr>
            <tr>
                <th>Date Added</th>
                <td>{{ favorite.date_added }}</td>
            </tr>

        </tbody>
    </table>

    <div class="mb-3 mt-3">
        <a class="btn btn-red btn-sm" href="{% url 'admin_favorites_list' %}">Back</a>
    </div>

{% endblock content %}
