{% extends "find_house_app/base.html" %}

{% load static %}
{% load i18n %}
{% load cache %}

{% block title %}{% trans 'Home Page' %}{% endblock %}

{% block content %}

    <div class="row">
        <!-- Categories and Search -->
        <div class="col-md-3">
            {% cache 600 index_categories %}
                <h3>{% trans 'Categories' %}</h3>
                <ul class="list-group mb-3 ">
                    {% for category in categories %}
                        <li class="list-group-item list-group-item-action bg-orange-list"><a href="{% url 'find_house_app:category_announcements' category.name|slugify %}" class="text-decoration-none w-text-75 stretched-link text-capitalize">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endcache %}

            <h3>{% trans 'Search' %}</h3>
            <!-- Search Bar -->
            <form method="get" action="{% url 'find_house_app:search' %}" class="mb-3">
                <div class="mb-3">
                    <label for="title" class="form-label">{% trans 'Title' %}</label>
                    <input type="text" class="custom-form-select" name="q" id="title" placeholder="{% trans 'Search by Title' %}" value="{{ query }}">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">{% trans 'Category' %}</label>
                    <select class="custom-form-select" name="category" id="category">
                        <option value="" {% if not selected_category %}selected{% endif %}>{% trans 'All Categories' %}</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- More Filters -->
                <div id="more-filters" class="mb-3" style="display: none;">
                    <div class="mb-3">
                        <label for="description" class="form-label">{% trans 'Description' %}</label>
                        <input type="text" class="custom-form-control" name="description" id="description" placeholder="{% trans 'Search by Description' %}">
                    </div>

                    <div class="mb-3">
                        <label for="price_from" class="form-label">{% trans 'Price' %}</label>
                        <input type="number" class="custom-form-control mb-1" name="price_from" placeholder="{% trans 'Min Price' %}">
                        <input type="number" class="custom-form-control" name="price_to" placeholder="{% trans 'Max Price' %}">
                    </div>

                    <div class="mb-3">
                        <label for="square_from" class="form-label">{% trans 'Square' %}</label>
                        <input type="number" class="custom-form-control mb-1" name="square_from" placeholder="{% trans 'Min Square' %}">
                        <input type="number" class="custom-form-control" name="square_to" placeholder="{% trans 'Max Square' %}">
                    </div>

                    <div class="mb-3">
                        <label for="date_added" class="form-label">{% trans 'Date Added' %}</label>
                        <input type="date" class="custom-form-control" name="date_added" placeholder="{% trans 'Enter date' %}">
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">{% trans 'Address' %}</label>
                        <input type="text" class="custom-form-control" name="address" placeholder="{% trans 'Enter Address' %}">
                    </div>
                </div>

                <button type="button" class="btn btn-orange btn-sm btn-sm" onclick="toggleMoreFilters()">{% trans 'More Filters' %}</button>

                <button type="submit" class="btn btn-orange btn-sm" id="id_search_btn">{% trans 'Search' %}</button>
            </form>

            <h3>{% trans 'Sorting' %}</h3>
            <!-- Sort Bar -->
            <form method="get" action="{% url 'find_house_app:sort' %}" class="mb-3">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="title" {% if sort_announcements_by == 'title' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Title (In Alphabetical Order)' %}
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="-title" {% if sort_announcements_by == '-title' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Title (In Reverse Order)' %}
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="price" {% if sort_announcements_by == 'price' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Price (Low to High)' %}
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="-price" {% if sort_announcements_by == '-price' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Price (High to Low)' %}
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="square" {% if sort_announcements_by == 'square' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Square (Low to High)' %}
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="-square" {% if sort_announcements_by == '-square' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Square (High to Low)' %}
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="-date_added" {% if sort_announcements_by == '-date_added' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Date (New to Old)' %}
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="sort" id="sort" value="date_added" {% if sort_announcements_by == 'date_added' %}checked{% endif %}>
                    <label class="form-check-label" for="sort">
                        {% trans 'Sort by Date (Old to New)' %}
                    </label>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-orange btn-sm" id="id_sort_btn">{% trans 'Sort' %}</button>
                </div>
            </form>
        </div>

        <div class="col-md-9">

            <h3 class="text-center">{% trans 'Top announcements' %}</h3>
            {% if announcements %}
                <h4>{% trans 'Total Announcements' %}: {{ announcements_count }}</h4>
                <div id="topAnnouncementsCarousel" class="carousel slide mb-3 shadow-lg " data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for announcement in top_announcements %}
                            {% if announcement.status == 1 %}
                                <a href="{% url 'find_house_app:announcement_read' announcement.slug|slugify %}" class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ announcement.images.first.image.url }}" height="500px" class="d-block w-100" alt="{% trans 'Announcement Image' %}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5 class="text-white text-decoration-none">{{ announcement.title|truncatechars:50 }}</h5>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#topAnnouncementsCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{% trans 'Previous' %}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#topAnnouncementsCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{% trans 'Next' %}</span>
                    </button>
                </div>
            {% else %}
                <h3 class="text-center text-danger">{% trans 'There is no any announcements !!!' %}</h1>
            {% endif %}
            
            <h3 class="text-center">{% trans 'Announcements List' %}</h3>
            {% if announcements %}
                {% for announcement in announcements %}
                    {% if announcement.status == 1 %}
                        <div class="card mb-3  shadow-lg bg-orange-list ">
                            {% if announcement.images.all %}
                                <img src="{{ announcement.images.first.image.url }}" height="500px" class="card-img-top" alt="{% trans 'Announcement Image' %}">
                            {% else %}
                                <img src="{% static 'find_house_app/images/announcements/default/default_house.jpg' %}" height="500px" class="card-img-top" alt="{% trans 'Announcement Image' %}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'find_house_app:announcement_read' announcement.slug|slugify %}" class="text-decoration-none w-text-75 ">{{ announcement.title|truncatechars:50 }}</a></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-orange-list"><p class="card-text">{% trans 'Price' %}: {{ announcement.price }} $</p></li>
                                <li class="list-group-item bg-orange-list"><p class="card-text">{% trans 'Square' %}: {{ announcement.square }} M<sup>2</sup></p></li>
                                <li class="list-group-item bg-orange-list"><p class="card-text"><small class="text-muted">{% trans 'Date' %}: {{ announcement.date_added|timesince }} ago | {{ announcement.owner }}</small></p></li>
                            </ul>

                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'find_house_app:add_to_favorites' %}" class="m-1">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="find_house_app:add_to_favorites">
                                    <input type="hidden" name="announcement_id" value="{{ announcement.id }}">
                                    <button type="submit" class="#" id="id_favorite_btn" style="background: none; border: none; padding: 0;">
                                        <img width="30px" height="30px" src="{% static 'find_house_app/images/icons/favorite/add_favorite.svg' %}" alt="{% trans 'Add to Favorite' %}">
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3 class="text-center text-danger">{% trans 'There is no any announcements !!!' %}</h1>
            {% endif %}

            <!--Paggination-->
            {% if announcements %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if announcements.has_previous %}
                            <li class="page-item">
                                <a class="page-link " href="?page=1" tabindex="-1" aria-disabled="true">{% trans 'First' %}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link " href="?page={{ announcements.previous_page_number }}">{% trans 'Previous' %}</a>
                            </li>
                        {% endif %}

                        {% for num in announcements.paginator.page_range %}
                            <li class="page-item {% if num == announcements.number %}active{% endif %}">
                                <a class="page-link " href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}

                        {% if announcements.has_next %}
                            <li class="page-item">
                                <a class="page-link " href="?page={{ announcements.next_page_number }}">{% trans 'Next' %}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link " href="?page={{ announcements.paginator.num_pages }}">{% trans 'Last' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

            <!-- News -->
            <div class="mb-3">
                <h3>{% trans 'Latest News' %}</h3>

                {% if news %} 
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        {% for news_item in news %}
                            <div class="col">
                                <div class="card  shadow-lg bg-orange-list ">
                                    <img src="{% static 'find_house_app/images/news/default/default_house.jpg' %}" class="card-img-top" alt="{% trans 'News Image' %}">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'find_house_app:news_read' slug=news_item.slug|slugify %}" class="text-decoration-none w-text-75 ">{{ news_item.title|truncatechars:50 }}</a></h5>
                                        <small  class="card-text text-muted">{% trans 'Date' %}: {{ news_item.date_added }}</small>
                                        <p class="card-text">{{ news_item.content|truncatechars:30|safe|linebreaks }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="text-center mb-3 mt-3">
                        <a href="{% url 'find_house_app:news_list' %}" class="text-decoration-none w-text-75">{% trans 'More News' %}</a>
                    </div>

                {% else %}
                    <h3 class="text-center text-danger">{% trans 'There is no any news !!!' %}</h1>
                {% endif %}

            </div>

        </div>
    </div>
        
{% endblock content %}
