{% extends "find_house_app/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block content %}

    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                {{ field.errors.0 }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    <div class="col-md-12">
        <div class="card mt-5">
            <div class="card-header bg-orange text-white">
                <h3 class="card-title mb-0">{% trans 'Login' %}</h3>
            </div>
            <div class="card-body">
                <form method="POST" id="loginForm">
                    {% csrf_token %}
            
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <span class="text-muted"><small>{{ form.username.help_text }}</small></span>
                    </div>
            
                    <div class="mb-3">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <span class="text-muted"><small>{{ form.password.help_text }}</small></span>
                    </div>
            
                    <div class="mb-3">
                        <button type="submit" class="btn btn-orange btn-sm" id="id_login_btn">{% trans 'Login' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}