{% extends 'find_house_app/base.html' %}

{% load static %}

{% block title %}Edit Comment{% endblock title %}

{% block content %}
    <h3 class="text-center">Edit Comment</h3>

    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                {{ field.errors.0 }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header bg-blue text-white">
                    <h3 class="card-title mb-0">Edit Comment</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'comment_edit' pk=comment.pk %}">
                        {% csrf_token %}
            
                        <div class="mb-3">
                            {{ form.text.label_tag }}
                            {{ form.text }}
                            <span class="text-muted"><small>{{ form.text.help_text }} Edit your comment</small></span>
                        </div>
                        
                        <div class="mb-3">
                            <button type="submit" class="btn btn-blue btn-sm">Edit Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h3 class="text-center text-danger">You do not have access to this page !!!</h1>
    {% endif %}

{% endblock content %}