{% extends "find_house_app/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'News Page' %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">

            <h3>{% trans 'News Search' %}</h3>
            <div class="col-md-12 mb-3">
                <form method="get" action="{% url 'find_house_app:search_news' %}">
                    
                    <div class="mb-3">
                        <label for="year" class="form-label">{% trans 'Title' %}</label>
                        <input type="text" class="custom-form-control" name="q" placeholder="{% trans 'Search by title' %}" value="{{ query }}">
                    </div>

                    <div class="mb-3">
                        <label for="date" class="form-label">{% trans 'Date' %}</label>
                        <input type="date" class="custom-form-control" name="date" placeholder="{% trans 'Search by date' %}" value="{{ date_query }}">
                    </div>

                    <button type="submit" class="btn btn-orange btn-sm">{% trans 'Search' %}</button>
                </form>
            </div>
            <h3>{% trans 'Sorting News' %}</h3>
            <div class="col-md-12 mb-3">
                <form method="get" action="{% url 'find_house_app:sort_news' %}" class="mb-3">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="sort_news" id="sort_news" value="title" {% if sort_news_by == 'title' %}checked{% endif %}>
                        <label class="form-check-label" for="sort_news">
                            {% trans 'Sort by Title (In Alphabetical Order)' %}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="sort_news" id="sort_news" value="-title" {% if sort_news_by == '-title' %}checked{% endif %}>
                        <label class="form-check-label" for="sort_news">
                            {% trans 'Sort by Title (In Reverse Order)' %}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="sort_news" id="sort_news" value="-date_added" {% if sort_news_by == '-date_added' %}checked{% endif %}>
                        <label class="form-check-label" for="sort_news">
                            {% trans 'Sort by Date (New to Old)' %}
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="sort_news" id="sort_news" value="date_added" {% if sort_news_by == 'date_added' %}checked{% endif %}>
                        <label class="form-check-label" for="sort_news">
                            {% trans 'Sort by Date (Old to New)' %}
                        </label>
                    </div>
    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-orange btn-sm" id="id_sort_news_btn">{% trans 'Sort' %}</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-9">

            <div class="mb-3">
                <h3 class="text-center">{% trans 'All News' %}</h3>

                {% if news %} 
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        {% for news in news %}
                            <div class="col">
                                <div class="card bg-orange-list ">
                                <img src="{% static 'find_house_app/images/news/default/default_house.jpg' %}" class="card-img-top" alt="{% trans 'News Image' %}">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'find_house_app:news_read' slug=news.slug|slugify %}" class="text-decoration-none w-text-75 ">{{ news.title }}</a></h5>
                                    <small  class="card-text text-muted">Date: {{ news.date_added }}</small>
                                    <p class="card-text">{{ news.content|truncatechars:30|safe|linebreaks }}</p>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h3 class="text-center text-danger">{% trans 'There is no any news !!!' %}</h1>
                {% endif %}
            </div>

            {% if news %} 
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if news.has_previous %}
                            <li class="page-item">
                                <a class="page-link " href="?page=1" tabindex="-1" aria-disabled="true">{% trans 'First' %}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link " href="?page={{ news.previous_page_number }}">{% trans 'Previous' %}</a>
                            </li>
                        {% endif %}

                        {% for num in news.paginator.page_range %}
                            <li class="page-item {% if num == news.number %}active{% endif %}">
                                <a class="page-link " href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}

                        {% if news.has_next %}
                            <li class="page-item">
                                <a class="page-link " href="?page={{ news.next_page_number }}">{% trans 'Next' %}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link " href="?page={{ news.paginator.num_pages }}">{% trans 'Last' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </div>
    </div>
        
{% endblock content %}
