{% extends "admin_panel_app/base.html" %}

{% block title %}Edit Message{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    {{ field.errors.0 }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}

        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header bg-blue text-white">
                    <h3 class="card-title mb-0">Edit Message</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
            
                        <div class="mb-3">
                            {{ form.chat.label_tag }}
                            {{ form.chat }}
                            <span class="text-muted"><small>{{ form.chat.help_text }}</small></span>
                        </div>
            
                        <div class="mb-3">
                            {{ form.sender.label_tag }}
                            {{ form.sender }}
                            <span class="text-muted"><small>{{ form.sender.help_text }}</small></span>
                        </div>
            
                        <div class="mb-3">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                            <span class="text-muted"><small>{{ form.content.help_text }}</small></span>
                        </div>
            
                        <div class="mb-3">
                            {{ form.is_deleted.label_tag }}
                            {{ form.is_deleted }}
                            <span class="text-muted"><small>{{ form.is_deleted.help_text }}</small></span>
                        </div>
                        <div class="mb-3">
                            {{ form.is_edited.label_tag }}
                            {{ form.is_edited }}
                            <span class="text-muted"><small>{{ form.is_edited.help_text }}</small></span>
                        </div>
            
                        <div class="mb-3">
                            <button type="submit" class="btn btn-blue btn-sm">Edit Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% else %}
        <h3 class="text-center text-danger">You do not have access to this page !!!</h1>
    {% endif %}

    <div class="mb-3 mt-3">
        <a class="btn btn-red btn-sm" href="{% url 'admin_panel_app:admin_messages_list' %}">Back</a>
    </div>

{% endblock content %}
